.container {
  position: relative;
  display: flex;
  gap: 1.25rem;

}

.link {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--fontColor);
  transition: var(--transition);
}

.addition {
  font-family: var(--font);
  font-size: 0.6875rem;
  font-weight: 400;
  color: var(--white);
  text-align: center;

  width: 50px;
  position: absolute;
  right: 0.25rem;
  top: -0.5rem;
  background-color: var(--red);
  border-radius: 0.46875rem;
}

@media (hover: hover) {
  .link:hover {
    color: var(--orange);
  }
}
