.container {
  width: 18.125rem;
}

.map {
  width: 100%;
  height: 7.25rem;
  transition: var(--transition);
  transition-delay: 0.1s;
}

.map:hover {
  height: 22rem;
  width: 25.6875rem;
  margin-left: -7rem;
}

.mapDescription {
  display: flex;
  justify-content: center;
  position: relative;
  height: 6.6875rem;
  width: 100%;
  margin-top: -0.40625rem;
  background-color: var(--light-grey);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.circleMarker {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -30px;
  left: calc(50% - 30px);
  width: 3.75rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--orange);
}

.mapHeadline {
  font-size: 1.5rem;
  color: var(--darkColor);
}

.mapParagraph {
  font-size: 1.125rem;
  color: var(--grey);
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  padding-bottom: 0.4375rem;
}